<h1 mat-dialog-title>Update Utility Values</h1>
<div class="content" mat-dialog-content>
  <mat-form-field>
    <mat-label>Player 1 Utility</mat-label>
    <input matInput autocomplete="off" type="number" [(ngModel)]="data.player1Utility" cdkFocusInitial>
  </mat-form-field>
</div>
<div class="content" mat-dialog-content>
  <mat-form-field>
    <mat-label>Player 2 Utility</mat-label>
    <input matInput autocomplete="off" type="number" [(ngModel)]="data.player2Utility" cdkFocusInitial>
  </mat-form-field>
</div>
<div class="actions" mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onFinish()">Save</button>
</div>
