:host {
  .root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2.homelink {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1em;
      font-size: 1.5em;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        height: 100%;
        padding-right: 0.5em;
      }
    }

    h1 {
      font-size: 4em;
      line-height: 1.4em;
      margin-top: 2em;
    }

    p {
      font-size: 1.5em;
      margin: 1em;
    }

    .error {
      color: red;
    }

    .game {
      min-width: 50%;
      max-width: 60%;
      border-style: solid;
      border-color: lightgray;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1em;
      padding: 1em;

      .game-description {
        max-width: 50em;
        margin: 3em;
      }

      .game-solution {
        max-width: 50em;
        margin: 3em;
      }

      .solver-description {
        max-width: 50em;
        margin: 3em;
      }

      mat-spinner {
        margin: 3em;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;

      button {
        margin: 1em;
      }
    }

    .info-text {
      margin-top:auto;
      margin-bottom: 1em;
    }

  }
}
