<div class="root">
  <h2 class="homelink" routerLink="/">
    <mat-icon aria-hidden="false" aria-label="Home" [inline]="true">home</mat-icon>
    Game Theory Solver
  </h2>
  <h1>Counterfactual Regret Minimization Solver</h1>
  <p>Solve arbitrary 2-person zero-sum sequential game theory games using Counterfactual Regret Minimization!</p>

  <div class="game">
    <div class="solver-description" *ngIf="!game">
      To run the CFR Solver, either choose a predefined game from the buttons below,
      or upload a 2-player zero-sum sequential game in the format specified by this JSON Schema:
      <a href="https://github.com/mjp5153/2-player-zero-sum-sequential-game-spec" target="_blank">
        2-player zero-sum sequential game specification JSON-schema
      </a>
    </div>
    <ng-container *ngIf="game">
      <h2 class="game-name">{{game.name}}</h2>
      <div class="game-description"><b>Description: </b>{{game.description}}</div>
      <div *ngIf="loading">
<!--        <mat-spinner mode="indeterminate" [diameter]="40"></mat-spinner>-->
        Calculating...
      </div>
      <div *ngIf="result" class="game-solution">
        <b>Solution: </b>
        <div>Player 1 expected value: {{result.ev}}</div>
        <div>Player 2 expected value: {{result.ev*-1}}</div>
        <br>
        <div *ngFor="let strategy of result.strategy | keyvalue">
          Player {{strategy.key}} Strategy:
          <div *ngFor="let stateStrategy of strategy.value | keyvalue">
            &nbsp;&nbsp;&nbsp;{{stateStrategy.key === '' ? '(no knowledge)' : stateStrategy.key}}:
            <div *ngFor="let actionStrategy of stateStrategy.value | keyvalue">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{actionStrategy.key}}: {{actionStrategy.value.solution}}
            </div>
          </div>
          <br>
        </div>
      </div>
    </ng-container>
    <div class="error" *ngIf="error">Error loading game: {{error}}</div>
    <div class="buttons">
      <button *ngIf="game" mat-stroked-button color="warn" (click)="resetGame()">Clear Game Board</button>
      <button mat-stroked-button color="primary" (click)="uploadGame()">Upload Game</button>
    </div>
  </div>

  <p>Play pre-defined 2-person zero-sum sequential game theory games.</p>
  <div class="buttons">
    <button mat-stroked-button color="primary" (click)="loadEvenOrOdd()">Even or Odd</button>
    <button mat-stroked-button color="primary" (click)="loadKuhn()">Kuhn Poker</button>
  </div>

  <p></p>
  <p>Learn more about CFR
    <a href="http://martin.zinkevich.org/publications/regretpoker.pdf" target="_blank">here.</a>
  </p>

  <div class="info-text">Copyright 2021 - {{year}} Mike Peters.  Source code available under Apache License, Version 2.0 at <a target="_blank" href="https://github.com/mjp5153/CFR-minimization-solver">github</a>.</div>
</div>
