<div class="root">
  <h1>Game Theory Solver</h1>
  <p>Solve arbitrary 2-person game theory games!</p>

  <div class="buttons">
    <button mat-stroked-button color="primary" routerLink="/regret-matching">Solve simultaneous single-turn games</button>
    <button mat-stroked-button color="primary" routerLink="/cfr-minimization">Solve sequential zero-sum games </button>
  </div>

  <div class="info-text">Copyright 2021 - {{year}} Mike Peters.  Source code available under Apache License, Version 2.0 at <a target="_blank" href="https://github.com/mjp5153/CFR-minimization-solver">github</a>.</div>
</div>
