<h1 mat-dialog-title>Update {{data.type}} Name</h1>
<form #form="ngForm">
  <div class="content" mat-dialog-content>
    <mat-form-field>
      <mat-label>Player Name</mat-label>
      <input matInput autocomplete="off" name="name" [(ngModel)]="data.name" cdkFocusInitial required>
    </mat-form-field>
  </div>
</form>
<div class="actions" mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="!form.valid" (click)="onFinish()">Save</button>
</div>
