
<div class="root">
  <h2 class="homelink" routerLink="/">
    <mat-icon aria-hidden="false" aria-label="Home" [inline]="true">home</mat-icon>
    Game Theory Solver
  </h2>
  <h1>Regret Matching Solver</h1>
  <p>Solve arbitrary 2-person simultaneous single-turn game theory games using Regret Matching!</p>

  <div class="game">
    <div class="top-name">
      <button mat-button (click)="updatePlayerName(1)">{{players[1].name}}</button>
    </div>
    <div class="game2">
      <div class="side-name">
        <button mat-button (click)="updatePlayerName(0)">{{players[0].name}}</button>
      </div>
      <div class="game3">
        <table role="presentation">
          <tr class="row">
            <td class="action"></td>
            <td class="action" *ngFor="let strategy of players[1].strategies; let strategyIndex = index">
              <button mat-button (click)="updateActionName(1, strategyIndex)">{{strategy.name}}</button>
            </td>
            <td class="action">
              <button class="add-action" mat-stroked-button color="primary" (click)="addPlayer2Action()">Add {{players[1].name}} action</button>
            </td>
          </tr>
          <tr class="row" *ngFor="let row of this.game; let i = index">
            <td class="action">
              <button mat-button (click)="updateActionName(0, i)">{{players[0].strategies[i].name}}</button>
            </td>
            <td class="cell" *ngFor="let cell of row; let j = index">
              <button mat-button (click)="updateCellValue(i, j)">{{cell}}</button>
            </td>
            <td class="cell"><!-- blank for alignment --></td>
          </tr>
          <tr class="row">
            <td class="action">
              <button class="add-action" mat-stroked-button color="primary" (click)="addPlayer1Action()">Add {{players[0].name}} action</button>
            </td>
            <td class="cell" *ngFor="let cell of game[0]; let j = index"><!-- blank for alignment --></td>
            <td class="cell"><!-- blank for alignment --></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="buttons">
      <button mat-stroked-button color="warn" (click)="resetGame()">Clear Game Board</button>
      <button mat-stroked-button color="primary" (click)="solveGame()">Solve Game</button>
    </div>
  </div>


  <div class="solution" *ngIf="solution">
    <p>Solution:</p>
    <div *ngFor="let player of solution">
      {{player.name}}:
      <div *ngFor="let strategy of player.strategies">
        &nbsp;&nbsp;&nbsp;{{strategy.action}}: {{strategy.percentage}}
      </div>
    </div>
  </div>

  <br>
  <br>

  <p>Play common 2-person simultaneous single-turn game theory games.</p>
  <div class="buttons">
    <button mat-stroked-button color="primary" (click)="loadPrisoner()">The Prisoner's Dilemma</button>
    <button mat-stroked-button color="primary" (click)="loadRPS()">Rock Paper Scissors</button>
  </div>

  <p></p>
  <p>Learn more about Regret Matching
    <a href="http://wwwf.imperial.ac.uk/~dturaev/Hart0.pdf" target="_blank">here.</a>
  </p>


  <div class="info-text">Copyright 2021 - {{year}} Mike Peters.  Source code available under Apache License, Version 2.0 at <a target="_blank" href="https://github.com/mjp5153/CFR-minimization-solver">github</a>.</div>
</div>
