:host {
  .root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 4em;
      margin-top: 2em;
    }

    p {
      font-size: 1.5em;
      margin: 1em;
    }

    .game {
      min-width: 50%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1em;

      .top-name {
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        margin: auto;
      }

      .game2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .side-name {
          width: auto;
          flex: 0 1 auto;
          font-size: 1.5em;
          text-align: center;
          margin: auto;
        }

        .game3 {
          height: 100%;
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;

          .row {
            width: 100%;
            display: flex;
            flex-direction: row;

            .action {
              font-size: 1.5em;
              text-align: center;
              margin: 1em;
              min-width: 4em;
              width: 100%;
            }

            .cell {
              font-size: 1.5em;
              text-align: center;
              margin: 1em;
              width: 100%;
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;

      button {
        margin: 1em;
      }
    }

    .info-text {
      margin-top:auto;
      margin-bottom: 1em;
    }

  }
}
